PyQt5==5.15.11
opencv-python==4.10.0.84
numpy==1.24.4
geopandas==1.0.1
shapely==2.0.1
geopy==2.4.1
pandas==1.4.4
torch==1.13.1
torchvision==0.14.1
pillow==9.2.0
requests==2.28.1
osmnx==2.0.0
ultralytics==8.3.40
matplotlib==3.5.2